.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.card-events {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body-events{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    min-height: 200px;
}
.card-img-city{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.card-body {
    padding: 10px;
    
    
}

.card-title {
    font-size: 24px;
    padding: 10px;
}

.card-city {
    font-size: 18px;
    font-weight: normal;
}

.card-text {
    font-size: 14px;
    height: 100%;
    padding: 10px;
}

/* 
.btn {
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #ddd;
}

.btn:active {
    background-color: #2196F3;
    color: white;
} */

.button-Card {
    padding-top: 10px;
    background: 28a1ed;
}